page-avatar{
  .button{
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
  }
  h3{
    text-align: center;
    font-family: blacklist;
    font-size: 40px;
    margin-top: 40px;
  }
  p{
    text-align: center;
  }
}
