page-creerCompte {
h2{
  text-align: center;
  font-family: blacklist;
  font-size: 40px;
  margin-top: 40px;
  color:white;
}
.myView{
  background-color: #65B9FF;
}
.form{
  background-color: transparent;
}
}
